body{
    background-color: #FFE16E;
    margin: 0;
}

nav {
    width: 100vw;
    background-color: #FFD766;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFD766;
    display: flex;
}

li {
    list-style-type: none;
    /*vw = viewport width
      vh = viewport height
      these two margin numbers, the first for the top and bottom, the second is left and right*/
    margin: 0 2vw;
    font-size: 3vh;
}

a {
    display: block;
    color: #FFBB60;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: monospace;
}

li a:hover {
    background-color: #E8B04A;
}

.active {
    background-color: #854EFF;
}