body {
    background-color: #F7FFE0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

nav {
    width: 100vw;
    background-color: #F2EFC7;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F2EFC7;
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    list-style-type: none;
    /*vw = viewport width
      vh = viewport height
      these two margin numbers, the first for the top and bottom, the second is left and right*/
    margin: 0 2vw;
    font-size: 3vh;
}

a {
    display: block;
    color: #D2BBA0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: monospace;
}

li a:hover {
    background-color: #9F7E69;
}

.active {
    background-color: #9F7E69;
}

button {
    display: none;
}

h1 {
    color: #9F7E69;
    text-align: center;
}

.header {
    color: #9F7E69;
    margin: 10px 43vw;
    border-style: double;
}

html {
    box-sizing: border-box;
}

@media only screen and (max-width: 500px) {
    ul {
        flex-direction: column;
    }

    li {
        margin: 0;
    }

    a {
        display: block;
    }
}

li a:hover {
    background-color: #9F7E69;
}
.container {
    position: relative;
}

.slides {
    display: none;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #F2EFC7;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    cursor: pointer;
    background-color: #9F7E69;
}

.text {
    color: #D2BBA0;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption {
    text-align: center;
    background-color: #9F7E69;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 33.33%;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}